#formContacto{
    background-image: url("../img/contacto.jpg");
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
    font-size: 25px;
    color: white;
    text-shadow: 2px 2px black;
    animation-name: aparecer;
    animation-duration: 2s;
    animation-iteration-count: 1;
}